body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 0;
}

.tutor .learner {
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: yellow;
}

button {
  cursor: pointer;
  padding: 5px;
  font-size: large;
  white-space: nowrap;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  user-select: none;
  line-height: 1.75;
}

button.clipboard {
  width: fit-content;
  line-height: initial;
}

button:focus, input:focus {
  outline: 0;
}

button.button1 {
  background-color: lightgreen;
}

button.button2 {
  background-color:lightpink;
}

button.button3 {
  background-color: darkseagreen;
}

.invisible {
  visibility: hidden;
}

.panel {
  padding: 20px;
  border: 2px solid black;
  background-color: #e8e8e8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 15em;
  min-width: 450px;
}

.tutor .panel, .settings .panel {
  background-color: white;  
  min-width: 100px;
}

.section {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
}

.left {
  justify-content: flex-start;
}

.col-gap {
  width: 10px;
  display: inline-block;
  flex: none;
}

.section-gap {
  height: 25px;
  display: block;
  flex: none;
}

.row-gap {
  height: 10px;
  display: block;
  flex: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.status {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
}

td.status {
  text-align: right;
}

.row button {
  -ms-flex: 1 1 0%1;
  flex: 1 1 0%;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  /* line-height: 1.75; */
}

.intro input[type=text] {
  font-size: x-large;
}

.tick {
  color: green;
}

i {
  text-shadow: 2px 2px 3px lightgrey;
}

.cross {
  color: darkred;
}

.smile {
  color: hotpink;
}

.happy {
  color: darkorange;
}

.coffee {
  color: grey;
}

.away {
  color: blue;
}

.failed {
  color: darkred;
}

.time-message {
  color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead, tfoot {
  font-style: italic;
  font-weight: bold;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
}

.inactive {
  opacity: 50%;
}

/* Mobile devices */
@media only screen and (max-width: 420px) {
  .main {
    width: 100%;
  }

  .panel {
    min-width: 100px;
    width: 100%;
  }
}