<form>
  <div class="main">
    <div class="panel intro">
      <div class="section">
        <h1>QA Ticks and Crosses</h1>
      </div>
      <div class="section">
        <div class="row">
          <input type="text" placeholder="Room" ng-model="room.code" autocomplete="off" style="text-transform:uppercase" required minlength="4">
        </div>
      </div>
      <div class="section">
        <div class="row">
          <button type="submit" ng-click="learner()">I'm a learner</button>
        </div>
        <div class="row">
          <button type="submit" ng-click="tutor()">I'm the tutor</button>
        </div>
      </div>
    </div>
  </div>
</form>