<form>
  <div class="main">
    <div class="panel intro">
      <div class="section">
        <div class="row">
          <h1>QA Ticks and Crosses</h1>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <input type="text" placeholder="Room" ng-model="room.code" autocomplete="off" style="text-transform:uppercase" required>
        </div>
      </div>
      <div class="section">
        <div class="row">
          <button type="submit" ng-click="learner()" class="button1">I'm a learner</button>
          <button type="submit" ng-click="tutor()" class="button2">I'm the tutor</button>
        </div>
      </div>
    </div>
  </div>
</form>