body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 5px;
  font-size: large;
  white-space: nowrap;
  border: 2px solid black;
  background-color: white;
  border-radius: 15px;
  user-select: none;
}

button:focus, input:focus {
  outline: 0;
}

button.button1 {
  background-color: lightgreen;
}

button.button2 {
  background-color:lightpink;
}

button.button3 {
  background-color: darkseagreen;
}

.invisible {
  visibility: hidden;
}

.panel {
  padding: 20px;
  border: 2px solid black;
  background-color: #e8e8e8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  min-height: 15em;
  min-width: 380px;
}

.tutor .panel, .settings .panel {
  background-color: white;  
  min-width: 100px;
}

.section {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  column-gap: 10px;
}

.left {
  justify-content: flex-start;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  text-align: center;
}

div.status {
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 6rem;
}

td.status {
  text-align: right;
}

.row button {
  flex: 1 1 0;
}

input[type=text] {
  width: 100%;
  padding: 5px;
  font-size: large;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

.intro input[type=text] {
  font-size: x-large;
}

.tick {
  color: green;
}

.cross {
  color: darkred;
}

.smiley {
  color: darkorange;
}

.coffee {
  color: chocolate;
}

.away {
  color: blue;
}

.failed {
  color: darkred;
}

.time-message {
  color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightslategray;
  border-bottom: 1px solid lightslategray;
}

.inactive {
  opacity: 50%;
}

/* Mobile devices */
@media only screen and (max-width: 420px) {
  .main {
    width: 100%;
  }

  .panel {
    min-width: 100px;
    width: 100%;
  }
}