<ng-switch on="$ctrl.status">
  <i ng-switch-when="tick" class="fas fa-check-circle tick"></i>
  <i ng-switch-when="cross" class="fas fa-times-circle cross"></i>
  <i ng-switch-when="coffee" class="fas fa-mug-hot coffee"></i>
  <i ng-switch-when="away" class="fas fa-clock away"></i>
  <i ng-switch-when="smile" class="fas fa-smile smile"></i>
  <span ng-switch-when="happy">
    <i class="fas fa-grin-stars happy"></i><i class="fas fa-grin-stars happy"></i>
  </span> 
  <i ng-switch-when="hand-up" class="far fa-hand-paper"></i>
  <span ng-switch-default class="other"><b>{{$ctrl.status || '&nbsp;'}}</b></span>
</ng-switch>
